<% include ../partials/header %>

     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To TigerMatch!</h1>
             <p>Find Your Perfect Match Now!</p>

              <a class="btn btn-primary btn-lg" href="/profiles/new">Request for a Match</a>
              <p>

             </p>
         </div>
     </header>
<% include ../partials/footer %>
