<% include ../partials/header %>

<div class = "container">
    <div class="row">
        <h1 style="text-align: center">Your Preferences</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/profiles" method="POST">

                             <div class="row">
          <div class = "col-sm-12">
        <label for="q1">Your Gender</label>
        <div class="input-group">
            <input placeholder= "Select an option from dropdown" name = "q1" type="TextBox" ID="datebox0" Class="form-control"></input>
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>

                <ul  id="demolist0" class="dropdown-menu">
                    <li><a href="#">Male</a></li>
                    <li><a href="#">Female</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class = "col-sm-12">
        <label for="q2">Which Gender Are You Interested In Meeting?</label>
          <div class="input-group">
            <input placeholder= "Select an option from dropdown" name = "q2" type="TextBox" ID="datebox1" Class="form-control"></input>
             <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    </button>
                      <ul  id="demolist1" class="dropdown-menu">
                <li><a href="#">Male</a></li>
                    <li><a href="#">Female</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="form-group">
                    <label for="q3">Your Class Year</label>
                    <input class="form-control" type="number" name="q3" id="year" placeholder="2022" step="1" min="2019" max = "2022" required>
</div>

 <div class="form-group">
                    <label for="q4">Major</label>
                    <input class="form-control" type="text" name="q4" id="year" placeholder="Memology" required>
</div>

<div class="row">
    <div class = "col-sm-12">
        <label for="q5">What are you looking for?</label>
          <div class="input-group">
            <input placeholder= "Select an option from dropdown" name = "q5" type="TextBox" ID="datebox2" Class="form-control"></input>
             <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    </button>
                      <ul  id="demolist2" class="dropdown-menu">
                <li><a href="#">Relationship</a></li>
                    <li><a href="#">DTF</a></li>
                    <li><a href="#">Cuddle-buddy</a></li>
                    <li><a href="#">Game-Of-Thrones Buddy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

 <div class="form-group">
                    <label for="q6">We'll get along if</label>
                    <input class="form-control" type="text" name="q6" id="q9" placeholder = "you're bse and can read" required>
</div>




<div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>

        </div>
    </div>
<% include ../partials/footer %>
