<% include ./partials/header %>
    <div class="row">
        <h1 style="text-align: center">Login</h1>
        <div style="width: 30%; margin: 25px auto;">
            
            Verify your email.
            
            <a href="/profiles">Go Back</a>
        </div>
    </div>
<% include ./partials/footer %>
