<% include ./partials/header %>
    <div class="row">
        <h1 style="text-align: center">Verify</h1>
        <div style="width: 30%; margin: 25px auto;">
            
            Click here to verify your email. <br /> <br />
            The email will  be sent to your princeton.edu address (netid@princeton.edu). <br />
            
        </div>
    </div>
<% include ./partials/footer %>
