<% include ./partials/header %>
    <div class="row">
        <h1 style="text-align: center">Verify</h1>
        <div style="width: 30%; margin: 25px auto; text-align: center;">
                        
            <form action="/verify" method="get">
                
                <button type="submit" class="btn btn-primary btn-lg">Send verification email</button>  <br /> <br />
                
            </form>
            
            The email will  be sent to your princeton.edu address (netid@princeton.edu). <br />
            
        </div>
    </div>
<% include ./partials/footer %>
