<% include ../partials/header %>

     <header class="jumbotron">
         <div class="container">
             <h2>Your Response Has Been Recorded</h2>
             <h4>Stay tuned. We'll send you an email about your match within a week of your submission.</h4>
             <h4>We'll have a TigerMatch service every week, so make sure to come back next week for more dates!</h4>

             <h5> Email nsapkota@princeton.edu for any concerns.</h5>
         </div>
     </header>


<% include ../partials/footer %>
