<% include ../partials/header %>

     <header class="jumbotron">
         <div class="container">
             <h2>Your Response Has Been Recorded</h2>
             <h4>Stay tuned. We'll send you an email about your match ASAP.</h4>
             <h4>We'll have a TigerMatch service every week, so make sure to join our facebook group for more </h4>

             <h4> updates: Click <a href = "https://www.facebook.com/groups/2179977192318639"> here </a> to get redirected to the group. </h4>

             <h5> Email nsapkota@princeton.edu for any concerns.</h5>
         </div>
     </header>


<% include ../partials/footer %>
