<% include ../partials/header %> 
    
     <header class="jumbotron">
         <div class="container">
             <h2>Your Response Has Been Recorded</h2>
             <h4>Stay tuned. We'll send you an email about your dinner group by 5th April, 10PM.</h4>
             <h4>We'll have a DineMe service every week, so make sure to check back on Monday to signup for more dinners!</h4>
         </div>
     </header>
     

<% include ../partials/footer %>
